@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Code+Pro&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

$primary-color:rgb(172, 0, 0);
$secondary-color:rgb(219,219,219);
$sucess-color:rgb(0, 167, 0);
$text-color:white;
$background-color:rgb(65,65,65);
$small:10px;
$medium:25px;

body,
.App {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background-color: $background-color;
}

.App {
  display: flex;
}

* {
  box-sizing: border-box;
}